.consultas{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 0 58px;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.consultas_dia {
    font-weight: var(--bold);
    color: var(--cinza-principal);
    margin: 8px auto 10px 1rem;
    letter-spacing: 0.01em;
}

.consultas_dia_agendadas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.consulta_card {
    box-sizing: border-box;
    width: 328px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    height: 170px;
}

.consultas_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 12px 1rem;
}

.consulta_info_usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.imagem_usuario {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.usuario_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.usuario_info_nome {
    font-size: 0.875rem;
    font-weight: var(--bold);
    color: var(--cinza-principal);
}

.usuario_info_consulta {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.consulta_chat {
    background-color: #F6F6F6;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consulta_card hr {
    width: 100%;
    border: 1px solid #ECECEC;
    
}

.consulta_atendimento {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 9px 1rem 1rem 1rem;
}

.consulta_atendimento_horario {
    font-size: 0.75rem;
    color: var(--cinza-principal);
    font-weight: var(--medium);
}

.consulta_atendimento_remota {
    display: flex;
    justify-content: space-between;
}

.consulta_remota_botao {
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: var(--medium);
    padding: 0.81rem 1rem;
    cursor: pointer;
}

.consulta_remota_botao.laranja {
    background: var(--laranja);
    color: #fff;
}

.consulta_remota_botao.azul {
    background: var(--azul);
    color: #fff;
    width: 100%;
}

.consulta_remota_botao.branco {
    background-color: #fff;
    color: var(--cinza-principal);
    border: 1px solid #ECECEC;
}

.menu_opcoes {
    z-index: 1;
    position: fixed;
    bottom: 4.625rem;
    right: 1rem;
}

.menu_opcoes_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu_azul {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--azul);
    border-radius: 50%;
    border: none;
    left: 17.9375rem;
    box-shadow: 0 0.25rem 1rem 0 rgba(72, 148, 255, 0.5);
    cursor: pointer;
}

.menu_opcoes_list_item.hide{
    display: none;
}

.menu_opcoes_list_item {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.menu_opcoes_list_item p{
    font-size: 0.75rem;
    font-weight: var(--medium);
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.625rem;
    color: var(--cinza-principal);
}