.consultas_dia{
    font-weight: var(--bold);
    color: var(--cinza-principal);
    margin: 8px auto 8px 16px;
}

.consultas_dia_agendadas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.consulta_card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 328px;
    border-radius: 8px;
}

.consultas_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 10px 16px;
}

.consulta_info_usuario{
    display: flex;
    gap: 16px;
    align-items: center;
}

.imagem_usuario{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.usuario_info_nome{
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--cinza-principal);
    margin-bottom: 5px;
}

.usuario_info_consulta.remota{
    height: 19px;
    font-size: 12px;
    color: var(--cinza-secundario);
    background-image: url("../imgs/icons/Camera.png");
    background-repeat: no-repeat;
    padding-left: 24px;
}

.consulta_chat{
    background-color: #F6F6F6;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
}

.chat_icon{
    vertical-align: center;
}

.consulta_card hr{
    width: 328px;
    border: 1px solid #ECECEC;
}

.consulta_atendimento{
    padding: 10px 16px 16px 16px;
}

.consulta_atendimento_horario{
    color: var(--cinza-principal);
    font-size: 12px;
    font-weight: var(--medium);
    margin-bottom: 8px;
}

.consulta_atendimento_remota{
    min-width: 139px;
    display: flex;
    justify-content: space-between;
}

.consulta_remota_botao{
    font-weight: var(--medium);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 13px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.consulta_remota_botao.laranja{
    background-color: var(--laranja);
    color: #FFFFFF;
}

.consulta_remota_botao.branco{
    background-color: #FFFFFF;
    color: var(--cinza-principal);
    border: 1px solid #ECECEC;
}

.usuario_info_consulta.local{
    line-height: 19px;
    font-size: 12px;
    color: var(--cinza-secundario);
    background-image: url("../imgs/icons/pin.png");
    background-repeat: no-repeat;
    padding-left: 24px;
}

.consulta_remota_botao.azul{
    background-color: var(--azul);
    color: #FFFFFF;
    width: 100%;
}
