.status-bar {
    height: 2.06rem;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
    background-color: #fff;
}

.status-bar_time {
    font-size: 0.87rem;
    color: #333333;
}

.status-bar_icons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}