@import url("./profile.css");
@import url("./consultas.css");
@import url("./menu.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cinza-principal: #464646;
    --cinza-secundario: #A3A3A3;
    --laranja: #FFB050;
    --azul: #4894FF;
    --bold: 700;
    --medium: 500;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #F9F7FE;
}

.menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 45px); /* 58px height .menu */
    background: rgba(0,0,0,0.4);
}

.menu_overlay.desativado {
    display: none;
}